* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0.5em 0;
  line-height: 1;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 1em auto;
}

.form-group {
  margin-top: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.form-control {
  display: block;
  padding: 0.5em;
  font-size: 1em;
}
